/* header styles */
.head-container{
    background: rgba(255, 144, 14, 0.1);
}
.introduce{
    display: flex;
    justify-content: space-between;
}
.page-information{
    margin-left: 220px;
    font-weight: 700;
    font-size: 45px;
}
.primary-introduce{
    display: flex;
    gap: 20px;
    margin-right: 220px;
   
}
h1{
    font-weight: 700;
    font-size: 64px;
}
.head-information{
    width: 862px;
    height: 225px;
    text-align: center;
    
}
.button-primary{
    background-color: orange;
    padding: 22px;
    border: 0;
    
}
.banner{
    width: 1440px;
    height: 700px;
    margin: 100px 120px 130px;
    
}
/* body styles */
.body-image{
    width: 342px;
    height: 342px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.body1{
    display: flex;
    width: 537px;
    height: 304px;
    margin-bottom: 130px;
    
}
.title-description{
    margin-left: 600px;
}
